body {
    font-family: "Momo Trust Display", sans-serif;
    background-color: rgb(0, 167, 97);
}


header {
    background-color: #00865e;
    padding-top:  2.15vw;
    padding-bottom:  10vw;
    font-size: 10vw;
    border-radius: 20px;
}

header h3 {
    top: -0.4vw;
    position: absolute;
    left: 2.5%;
    color: #000000;
    font-size: 10vw;
    margin: 0%;
}

.mainpic {
    position: absolute;
    top: 6.7vw;
    left: 68%;
    width: 10vw;
    max-width: 8%;
    height: auto;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.HOME {
  position: fixed;
  left: 92%;
  bottom: 1%;
  width: 7%;
  height: auto;
  z-index: 9999;
}

.MNLYSPRTRSBX {
    background-color: azure;
    position: absolute;
    top: 15vw;
    left: 1.5vw;
    padding-bottom: 54vw;
    padding-top: 10vw;
    padding-left: 16vw;
    padding-right: 16vw;
    border-radius: 1vw;

}

.MNLYSPRTRSHDR {
    position: absolute;
    left: 1vw;
    top: -1.5vw;
    font-size: 2.5vw;
}

.MNLYSPRTRSLS {
    position: absolute;
    font-size: 2.3vw;
    left: 3vw;
    top: 4vw;
}

.SPRTRSBX {
    background-color: azure;
    position: absolute;
    top: 15vw;
    left: 35vw;
    padding-bottom: 54vw;
    padding-top: 10vw;
    padding-left: 16vw;
    padding-right: 15vw;
    border-radius: 1vw;

}

.SPRTRSHDR {
    position: absolute;
    left: 1vw;
    top: -1.5vw;
    font-size: 2.5vw;
}

.SPRTRSLS {
    position: absolute;
    left: 3vw;
    top: 4vw;
    font-size: 2.3vw;
}

.TPSPRTRSBX {
    background-color: azure;
    position: absolute;
    top: 15vw;
    left: 67.6vw;
    padding-bottom: 54vw;
    padding-top: 10vw;
    padding-left: 16vw;
    padding-right: 15.15vw;
    border-radius: 1vw;

}

.TPSPRTRSHDR {
    position: absolute;
    left: 1vw;
    top: -1.5vw;
    font-size: 2.5vw;
}
