body {
    background-color: #333;
    font-family: "Momo Trust Display", sans-serif;
}

h3 {
    position: absolute;
    font-family: "Momo Trust Display", sans-serif;
    top: 0vw;
    left: 2.5vw;
    color: #000000;
    font-size: 10vw;
    margin: 0vw;
}

h3:hover {
    text-decoration: underline;
}

.STT {
    font-family: "Momo Trust Display", sans-serif;
    position: absolute;
    top: -2vw;
    left: 50vw;
    font-size: 4vw;
    margin-right: 1.5vw;
    color:#000000
}

.STT:hover {
    text-decoration: underline;
}

.STTSP {
    font-family: "Momo Trust Display", sans-serif;
    position: absolute;
    top: -2vw;
    left: 55vw;
    font-size: 4vw;
    margin-right: 1.5vw;
    color:#000000
}

.STTSP:hover {
    text-decoration: underline;
}

.WD {
    font-family: "Momo Trust Display", sans-serif;
    position: absolute;
    color: gray;
    left: 5.5vw;
    top: 14vw;
    right: 10vw;
    font-size: 3vw;
}


.github {
    font-family: "Momo Trust Display", sans-serif;
    position: fixed;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 4.7vw;
    color: rgb(0, 0, 0);
    left: 31vw;
    bottom: -4.1vw;
}

.github a {
    color: inherit;
    text-decoration: none;
}

.github a:hover {
    text-decoration: underline;
}

.yt {
    font-family: "Momo Trust Display", sans-serif;
    position: fixed;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 5vw;
    color: rgb(0, 0, 0);
    left: 46vw;
    bottom: -4vw;
}

.yt a {
    color: inherit;
    text-decoration: none;
}

.yt a:hover {
    text-decoration: underline;
}


.at {
    font-family: "Momo Trust Display", sans-serif;
    position: fixed;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 5vw;
    color: rgb(0, 0, 0);
    left: 53vw;
    bottom: -4vw;
}

.at a {
    color: inherit;
    text-decoration: none;
}

.at a:hover {
    text-decoration: underline;
}


.WPMC {
    font-family: "JetBrains Mono", monospace;
    position: fixed;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 5vw;
    color: rgb(0, 0, 0);
    left: 41vw;
    bottom: -4.6vw;
    translate: (-50%, -50%);
}

.WPMC:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Row styling */
.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #333;
  padding: 1rem;
  gap: 1rem;
  color: #fff; /* text color */
  font-family: sans-serif;
  font-size: 1rem;
}

/* Hide actual checkbox */
.FSS input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.FSS span {
  position: fixed;
  display: inline-block;
  width: 3.2vw;
  height: 3.2vw;
  background-color: #333;
  border: 0.7vw solid #000;
  border-radius: 1vw;

  left: 59.5vw;
  bottom: 1.5vw;
}



/* Tick mark */
.FSS span::after {
    content: "";
    position: absolute;
    left: 0.8vw;
    bottom: 0.7vw;
    width: 1vw;
    height: 2vw;
    border: solid #000;
    border-width: 0 0.6vw 0.6vw 0;
    transform: rotate(45deg);
    display: none;
}

.FSS input:checked + span::after {
  display: block;
}

.FSS:hover span {
  background-color: #444;
}

/* Tooltip */
.FSS span::before {
  content: "Periods";
  position: absolute;
  left: -0.73vw;
  bottom: 4vw;
  background: #000;
  color: #fff;
  padding: 0.5vw 0.6vw;
  border-radius: 0.2vw;
  font-size: 1vw;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-in-out;
}


.FSS span:hover::before {
  opacity: 1;
}

.HOME {
  position: fixed;
  left: 92%;
  bottom: 1%;
  width: 7%;
  height: auto;
  z-index: 9999;
}

.ad-center {
    position: absolute;
    left: 50%;
    top: 55vw;
    transform: translate(-50%, -50%);
    z-index: -2;
}

@media (max-width: 800px) {
  .ad-center {
    opacity: 0;
  }
}
