body {
    background-color: #333;
    font-family: "Momo Trust Display", sans-serif;
}

h3 {
    position: absolute;
    font-family: "Momo Trust Display", sans-serif;
    top: 0vw;
    left: 2.5vw;
    color: #000000;
    font-size: 10vw;
    margin: 0vw;
}

h3:hover {
    text-decoration: underline;
}

.STT {
    font-family: "Momo Trust Display", sans-serif;
    position: absolute;
    top: -2vw;
    left: 55vw;
    font-size: 4vw;
    margin-right: 1.5vw;
    color:#000000
}

.STT:hover {
    text-decoration: underline;
}

.STTSP {
    font-family: "Momo Trust Display", sans-serif;
    position: absolute;
    top: -2vw;
    left: 55vw;
    font-size: 4vw;
    margin-right: 1.5vw;
    color:#000000
}

.STTSP:hover {
    text-decoration: underline;
}

.WD {
    font-family: "Momo Trust Display", sans-serif;
    position: absolute;
    color: gray;
    left: 5.5vw;
    top: 14vw;
    right: 10vw;
    font-size: 250%;
}


.github {
    font-family: "Momo Trust Display", sans-serif;
    position: fixed;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 4.7vw;
    color: rgb(0, 0, 0);
    left: 35vw;
    bottom: -4.1vw;
}

.github a {
    color: inherit;
    text-decoration: none;
}

.github a:hover {
    text-decoration: underline;
}

.yt {
    font-family: "Momo Trust Display", sans-serif;
    position: fixed;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 5vw;
    color: rgb(0, 0, 0);
    left: 50vw;
    bottom: -4vw;
}

.yt a {
    color: inherit;
    text-decoration: none;
}

.yt a:hover {
    text-decoration: underline;
}


.at {
    font-family: "Momo Trust Display", sans-serif;
    position: fixed;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 5vw;
    color: rgb(0, 0, 0);
    left: 57vw;
    bottom: -4vw;
}

.at a {
    color: inherit;
    text-decoration: none;
}

.at a:hover {
    text-decoration: underline;
}


.WPMC {
    font-family: "JetBrains Mono", monospace;
    position: fixed;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 5vw;
    color: rgb(0, 0, 0);
    left: 45vw;
    bottom: -4.6vw;
    translate: (-50%, -50%);
}

.WPMC:hover {
    text-decoration: underline;
    cursor: pointer;
}
