body {
    margin: 0vw;
    background-color: #ffffff;
    font-family: "Momo Trust Display", sans-serif;
}

h3 {
    position: absolute;
    top: 0vw;
    margin: 0vw;
    font-family: "Momo Trust Display", sans-serif;
    left: 1%;
    color: #000000;
    font-size: 6vw;
    margin: 0%;
}

.INPT {
    position: absolute;
    top: 10vw;
    margin: 0vw;
    font-family: "Momo Trust Display", sans-serif;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 5vw;
    font-size: 2.8vw;
    border-radius: 50vw;
    border-width: 1vw;
    padding-left: 2vw;
}

input {
    caret-color: black;  
    width: 3vw;
}

.sites {
    position: absolute;
    top: 15vw;
    left: 4vw;
    font-size: 5vw;
}

.HOME {
  position: fixed;
  left: 92%;
  bottom: 1%;
  width: 7%;
  height: auto;
  z-index: 9999;
}